date-picker {
    .test{
        display: flex;
    }
    .sd{
        border: none;
        width: 2em;
        text-align: center;
    }
    .ld{
        border: none;
        width: 3em;
    }
    .dateContainer{
        position: relative;
        width: 40px;
        // right: 218px;
        calendar-button{
            float: right;
        }
        .dateInnerContainer{
            position: absolute;
            .testBox{
                display: none;
                float: right;
                background-color: red;
                height: 250px;
                width: 250px;
            }
        }
    }

}
